<div class="container">
  <h1>{{'Balance' | translate}}</h1>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>{{'People' | translate}}</th>
        <th>{{'FairShare' | translate}}</th>
        <th>{{'ExpensesPaid' | translate}}</th>
        <th>{{'PaymentsMade' | translate}}</th>
        <th>{{'PaymentsReceived' | translate}}</th>
        <th>{{'Balance' | translate}}</th>
        <th>{{'Report' | translate}}</th>
      </tr>
    </thead>
    <tbody class="users-balance">
      <tr *ngFor="let user of users$ | async"
        [ngClass]="{'text-success': balances[user.id] > 0.01, 'text-danger': balances[user.id] < -0.01}"
        [routerLink]="'/balance/'+user.id">
        <td>{{ user.name }}</td>
        <td>{{ fairShares[user.id] | currency: "R$ " }}</td>
        <td>{{ paidValues[user.id] | currency: "R$ " }}</td>
        <td>{{ getPaymentsMade(user) | async | currency: "R$ " }}</td>
        <td>
          {{ getPaymentsReceived(user) | async | currency: "R$ " }}
        </td>
        <td>{{ balances[user.id] | currency: "R$ " }}</td>
        <td><app-get-report [project]="currentProject$ | async" [user]="user">{{user.name}} {{'Report' | translate}}</app-get-report></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="suggestedPayments?.length > 0">
    <h1>{{'SuggestedPayments' | translate}}</h1>
    <table class="table col-md-8">
      <thead class="thead-light">
        <tr>
          <th>{{'Payer' | translate}}</th>
          <th>{{'Amount' | translate}}</th>
          <th>{{'Receiver' | translate}}</th>
          <th>{{'Options' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of suggestedPayments">
          <td>{{ p.payer.name }}</td>
          <td>{{ p.amount | currency: "R$ "}}</td>
          <td>{{ p.receiver.name }}</td>
          <td>
            <button class="btn btn-success" (click)="onAddToPayments(p)" title="{{'AddToPayments' | translate}}">
              <i class="fas fa-plus mr-1"></i>
              <i class="fas fa-file-invoice-dollar"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-loading></app-loading>
