<div class="container">
  <h1>{{'Balance' | translate}}</h1>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>{{'People' | translate}}</th>
        <th>{{'FairShare' | translate}}</th>
        <th>{{'ExpensesPaid' | translate}}</th>
        <th>{{'PaymentsMade' | translate}}</th>
        <th>{{'PaymentsReceived' | translate}}</th>
        <th>{{'Balance' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users"
        [ngClass]="{'text-success': balances[user.id] > 0.01, 'text-danger': balances[user.id] < -0.01}">
        <td>{{ user.name }}</td>
        <td>{{ fairShares[user.id] | currency: "R$ " }}</td>
        <td>{{ paidValues[user.id] | currency: "R$ " }}</td>
        <td>{{ getPaymentsMade(user) | currency: "R$ " }}</td>
        <td>
          {{ getPaymentsReceived(user) | currency: "R$ " }}
        </td>
        <td>{{ balances[user.id] | currency: "R$ " }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="suggestedPayments.length > 0">
    <h1>{{'SuggestedPayments' | translate}}</h1>
    <table class="table col-md-8">
      <thead class="thead-light">
        <tr>
          <th>{{'Payer' | translate}}</th>
          <th>{{'Amount' | translate}}</th>
          <th>{{'Receiver' | translate}}</th>
          <th>{{'Options' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of suggestedPayments">
          <td>{{ p.payer.name }}</td>
          <td>{{ p.amount | currency: "R$ "}}</td>
          <td>{{ p.receiver.name }}</td>
          <td><button class="btn btn-success" (click)="onAddToPayments(p)">{{'AddToPayments' | translate}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-loading></app-loading>