<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <a class="dropdown-item" (click)="onChangeLanguage('en')">EN</a>
  <a class="dropdown-item" (click)="onChangeLanguage('pt')">PT</a>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    {{ currentLang.toUpperCase() }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" (click)="onChangeLanguage('en')">EN</a>
    <a class="dropdown-item" (click)="onChangeLanguage('pt')">PT</a>
  </div>
</div>