<div class="container pt-3">
  <div class="card-deck">

    <div class="card" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Users</h5>
        <p class="card-text">Defines the users that will participate in the expenses</p>
        <a class="btn btn-primary mt-auto" routerLink="/users">Go to Users</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Expenses</h5>
        <p class="card-text">Defines the expenses, the participants and who paid for it</p>
        <a class="btn btn-primary mt-auto" routerLink="/expenses">Go to Expenses</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Payments</h5>
        <p class="card-text">Sets up the payments between participants that were made already</p>
        <a class="btn btn-primary mt-auto" routerLink="/payments">Go to Payments</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Balance</h5>
        <p class="card-text">See who is to receive or pay and the amounts</p>
        <a class="btn btn-primary mt-auto" routerLink="/balance">Go to Balance</a>
      </div>
    </div>

  </div>
</div>