.tableFixHead {
  overflow-y: visible;
  height: 100%;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

.controls {
  margin: 0.5rem 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
