<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    {{ currentProject?.projectName }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" *ngFor="let p of unarchivedProjects" (click)="onChangeProject(p)">{{p.projectName}}</a>
    <a class="dropdown-item" data-toggle="modal" data-target="#myModal">{{'AddNewProject' | translate}}</a>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{'AddNewProject' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <form>
        <div class="modal-body">
          <input class="form-control" type="text" name="project-name" id="project-name" placeholder="Project Name"
            [formControl]="name">
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onAddNewProject()">Add</button>
        </div>
      </form>

    </div>
  </div>
</div>