<div *ngIf="expenses.length > 0">
  <h1>{{'Expenses' | translate}}</h1>
<h2 *ngIf="currentProject && currentProject.expensesCount && currentProject.expensesCount > 0">{{'Expense(s)' | translate}}: {{ currentProject.expensesCount }}</h2>
<h2 *ngIf="currentProject && currentProject.total && currentProject.total > 0">{{ 'Total' | translate }}: {{ currentProject.total | currency:"R$" }}</h2>
<h2 *ngIf="currentProject && currentProject.expensesAverage && currentProject.expensesAverage > 0">{{ 'Average' | translate }}: R$ {{ currentProject.expensesAverage }}</h2>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>{{'Expense' | translate}}</th>
        <th>{{'Value' | translate}}</th>
        <th>{{'Users' | translate}}</th>
        <th>{{'Options' | translate}}</th>
        <th>{{'File' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.name }}</td>
        <td>{{ expense.value | currency: "R$ " }}</td>
        <td>
          <span *ngFor="let user of expense.users" [ngClass]="{ payer: checkIsPayer(expense, user) }">{{ user.name }}
            <span *ngIf="getAmountPaid(expense, user) > 0">(R$ {{getAmountPaid(expense, user)}})</span> <br />
          </span>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="onRemoveExpense(expense)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <button class="btn btn-warning btn-sm ml-1" (click)="onEditExpense(expense)">
            <i class="fas fa-edit"></i>
          </button>
        </td>
        <td>
          <input *ngIf="!expense.fileUrl" class="form-control" type="file" name="upload"
            (change)="onFilesAdded(expense, $event)">
          <a *ngIf="expense.fileUrl" href="{{expense.fileUrl}}">
            <button class="btn btn-primary mt-2">
              <i class="fas fa-download"></i>
            </button>
          </a>
          <button *ngIf="expense.fileUrl" class="btn btn-danger mt-2 ml-2" (click)="onDeleteFile(expense)">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>