<div *ngIf="expenses.length > 0">
  <h1>{{'Expenses' | translate}}</h1>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>{{'Expense' | translate}}</th>
        <th>{{'Value' | translate}}</th>
        <th>{{'Users' | translate}}</th>
        <th>{{'Options' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.name }}</td>
        <td>{{ expense.value | currency: "R$ " }}</td>
        <td>
          <span *ngFor="let user of expense.users" [ngClass]="{ payer: checkIsPayer(expense, user) }">{{ user.name }}
            <span *ngIf="getAmountPaid(expense, user) > 0">(R$ {{getAmountPaid(expense, user)}})</span> <br />
          </span>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="onRemoveExpense(expense)">
            X
          </button>
          <button class="btn btn-warning btn-sm" (click)="onEditExpense(expense)">
            <i class="fas fa-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>