<nav class="navbar navbar-dark bg-dark fixed-bottom justify-content-around">
  <a class="nav-link" routerLink="/projects" routerLinkActive="active">
    <i class="fas fa-book-open"></i>
  </a>

  <a class="nav-link" routerLink="/users" routerLinkActive="active">
    <i class="fas fa-user-friends"></i>
  </a>

  <a class="nav-link" routerLink="/expenses" routerLinkActive="active">
    <i class="fas fa-file-invoice-dollar"></i>
  </a>

  <a class="nav-link" routerLink="/payments" routerLinkActive="active">
    <i class="fas fa-handshake"></i>
  </a>

  <a class="nav-link" routerLink="/balance" routerLinkActive="active">
    <i class="fas fa-balance-scale"></i>
  </a>
</nav>
