<div *ngIf="users.length > 0">
  <h1>{{'People' | translate}}</h1>
  <ul class="list-group">
    <li *ngFor="let user of users" class="list-group-item">
      <button class="btn btn-danger btn-sm" (click)="onRemoveUser(user)">
        X
      </button>
      <span class="ml-3" *ngIf="!isEditing(user)" (click)="onEditUsername(user)"> {{ user.name }}</span>
      <input tabindex="-1" [(ngModel)]="editingUser.name" (focusout)="onLeaveFocus(user)" type="text"
        class="form-control username ml-3" *ngIf="isEditing(user)">

    </li>
  </ul>
</div>