<div *ngIf="payments.length > 0">
  <h1>{{'Payments' | translate}}</h1>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>{{'Payer' | translate}}</th>
        <th>{{'Receiver' | translate}}</th>
        <th>{{'Value' | translate}}</th>
        <th>{{'Options' | translate}}</th>
        <th>{{'File' | translate}}</th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <tr *ngFor="let payment of payments; let i = index" cdkDrag [cdkDragData]="payment">
        <td>{{ payment.payer.name }}</td>
        <td>{{ payment.receiver.name }}</td>
        <td>{{ payment.value | currency:"R$ " }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="onRemovePayment(payment)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td>
          <label [for]="'upload-'+i" *ngIf="!payment.fileUrl" class="btn btn-primary mt-2">
            <i class="fas fa-file-upload"></i>
          </label>
          <input *ngIf="!payment.fileUrl" class="form-control" type="file" name="upload" [id]="'upload-'+i"
            (change)="onFilesAdded(payment, $event)">
            <div class="progress" *ngIf="percentUploaded > 0 && paymentUploading === payment">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width': percentUploaded+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <a *ngIf="payment.fileUrl" href="{{payment.fileUrl}}">
            <button class="btn btn-success mt-2">
              <i class="fas fa-download"></i>
            </button>
          </a>
          <button *ngIf="payment.fileUrl" class="btn btn-danger mt-2 ml-2" (click)="onDeleteFile(payment)">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>